.header {
    display: flex;
    background-color: black;
    height: 80px;
    color: white;
    justify-content: space-between;
    background-color: #A6DBF5;
    margin-bottom: 50px;
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.right-section {
    display: flex;
    align-items: center;
    width: 350px;
   
}

.header-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
   
}

.header-menu li {
    margin-right: 20px;
}

.header-menu li a {
    text-decoration: none;
    color: white;
}


.logo-img {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 300px;
}


.logo-img img {
    max-width: 40%; 
    height: auto;
    margin: 10px; 
}

.success-message {
    background-color: #4CAF50; 
    color: white;
    padding: 10px; 
    text-align: center; 
}